<section>
	<div class="container">
		<div class="row">
			<div class="col-12 pt-5 pb-3">
				<div class="heading">
					<h1>Mis direcciones</h1>
					<p class="mb-4"><a href="{{ routes.account_url }}">Regresar a los detalles de la cuenta.</a></p>
					
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newAddress">
						Nueva direccion.
					</button>
					
					<!-- Modal -->
					<div class="modal fade" id="newAddress" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="staticBackdropLabel">Nueva direccion:</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								{% form 'customer_address', customer.new_address %}
									<div class="modal-body">
										<div class="row">
											<div class="col-12 col-md-6">
												<div class="form-floating mb-3">
													<input type="text" name="address[first_name]" value="{{ address.first_name }}" class="form-control" id="firstName" placeholder="Nombre" required>
													<label for="firstName">Nombre</label>
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-floating mb-3">
													<input type="text" name="address[last_name]" value="{{ address.last_name }}" class="form-control" id="lastName" placeholder="Apellidos" required>
													<label for="lastName">Apellidos</label>
												</div>
											</div>
											<div class="col-12 col-md-12">
												<div class="form-floating mb-3">
													<input type="text" name="address[company]" value="{{ address.company }}" class="form-control" id="company" placeholder="Compania" required>
													<label for="company">Compania</label>
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-floating mb-3">
													<input type="text" name="address[address1]" value="{{ address.address1 }}" class="form-control" id="address1" placeholder="Direccion 1" required>
													<label for="address1">Direccion 1</label>
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-floating mb-3">
													<input type="text" name="address[address2]" value="{{ address.address2 }}" class="form-control" id="address2" placeholder="Direccion 2" required>
													<label for="address2">Direccion 2</label>
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-floating mb-3">
													<input type="text" name="address[city]" value="{{ address.city }}" class="form-control" id="city" placeholder="Ciudad" required>
													<label for="city">Ciudad</label>
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-floating mb-3">
													<input type="text" name="address[zip]" value="{{ address.zip }}" class="form-control" id="zip" placeholder="Zip" required>
													<label for="zip">Zip</label>
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-floating mb-3">
													<input type="tel" name="address[phone]" value="{{ address.phone }}" class="form-control" id="phone" placeholder="Telefono" required>
													<label for="phone">Telefono</label>
												</div>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
										<button type="submit" class="btn btn-primary">Guardar direccion</button>
									</div>
								{% endform %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-12 pb-5">
				<div class="row">
					{% paginate customer.addresses by 8 %}
						{% for address in customer.addresses %}
							<div class="col-12 col-md-6 col-lg-4">
								<div class="card w-100">
									<div class="card-body">
										{{ address | format_address }}

										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#editAddressModal-{{ forloop.index }}">
											Editar direccion
										</button>
										<form method="POST" action="/account/address/{{ address.id }}" id="delete_address">
											<input type="hidden" name="_method" value="delete">
											<button type="submit" class="btn btn-danger">Borrar direccion</button>
										</form>
										<form class="address-delete-form" method="post" action="/account/addresses/{{ address.id }}">
											<input type="hidden" name="_method" value="delete">
											<button type="submit">{{ 'customer.addresses.delete' | t }}</button>
										</form>
									</div>
								</div>
							</div>

							<!-- Modal -->
							<div class="modal fade" id="editAddressModal-{{ forloop.index }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="staticBackdropLabel">Editar Direccion</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										{% form 'customer_address', address %}
											<div class="modal-body">
												<div class="row">
													<div class="col-12 col-md-6">
														<div class="form-floating mb-3">
															<input type="text" name="address[first_name]" value="{{ address.first_name }}" class="form-control" id="firstName" placeholder="Nombre" required>
															<label for="firstName">Nombre</label>
														</div>
													</div>
													<div class="col-12 col-md-6">
														<div class="form-floating mb-3">
															<input type="text" name="address[last_name]" value="{{ address.last_name }}" class="form-control" id="lastName" placeholder="Apellidos" required>
															<label for="lastName">Apellidos</label>
														</div>
													</div>
													<div class="col-12 col-md-12">
														<div class="form-floating mb-3">
															<input type="text" name="address[company]" value="{{ address.company }}" class="form-control" id="company" placeholder="Compania" required>
															<label for="company">Compania</label>
														</div>
													</div>
													<div class="col-12 col-md-6">
														<div class="form-floating mb-3">
															<input type="text" name="address[address1]" value="{{ address.address1 }}" class="form-control" id="address1" placeholder="Direccion 1" required>
															<label for="address1">Direccion 1</label>
														</div>
													</div>
													<div class="col-12 col-md-6">
														<div class="form-floating mb-3">
															<input type="text" name="address[address2]" value="{{ address.address2 }}" class="form-control" id="address2" placeholder="Direccion 2" required>
															<label for="address2">Direccion 2</label>
														</div>
													</div>
													<div class="col-12 col-md-6">
														<div class="form-floating mb-3">
															<input type="text" name="address[city]" value="{{ address.city }}" class="form-control" id="city" placeholder="Ciudad" required>
															<label for="city">Ciudad</label>
														</div>
													</div>
													<div class="col-12 col-md-6">
														<div class="form-floating mb-3">
															<input type="text" name="address[zip]" value="{{ address.zip }}" class="form-control" id="zip" placeholder="Codigo Zip" required>
															<label for="zip">Codigo Zip</label>
														</div>
													</div>
													<div class="col-12 col-md-6">
														<div class="form-floating mb-3">
															<input type="tel" name="address[phone]" value="{{ address.phone }}" class="form-control" id="phone" placeholder="Telefono" required>
															<label for="phone">telefono</label>
														</div>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
												<button type="submit" class="btn btn-primary">Guardar cambios</button>
											</div>
										{% endform %}
									</div>
								</div>
							</div>
						{% endfor %}
					{% endpaginate %}
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	var myModal = new bootstrap.Modal(document.getElementById("exampleModal"));
	myModal.show();
</script>