<div>
    {% for block in section.blocks %}
        {% if block.type == 'content' %}
            <div class="content mb-5">
                {{ article.content }}
            </div>
        {% elsif block.type == 'tags' %}
            <div class="tags mb-5">
                {% for tag in article.tags %}
                    <span class="d-inline-block bg-danger badge">{{ tag | prepend: "#" | link_to_tag: tag }}</span>
                {% endfor %}
            </div>
        {% elsif block.type == 'share' %}
            <div class="share mb-5">
                {% if block.settings.facebook == true %}
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ canonical_url }}" class="d-inline-block text-dark me-4">
                        {% render 'icon-facebook'  %}
                    </a>
                {% endif %}
                {% if block.settings.twitter == true %}
                    <a href="https://twitter.com/intent/tweet?url={{ canonical_url }}" class="d-inline-block text-dark me-4">
                        {% render 'icon-twitter'  %}
                    </a>
                {% endif %}
                {% if block.settings.linkedin == true %}
                    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ canonical_url }}" class="d-inline-block text-dark me-4">
                        {% render 'icon-linkedin'  %}
                    </a>
                {% endif %}
                {% if block.settings.email == true %}
                    <a href="mailto:?subject={{ article.title }}&amp;body=Check this article {{ canonical_url }}" class="d-inline-block text-dark me-4">
                        {% render 'icon-envelope'  %}
                    </a>
                {% endif %}
            </div>
        {% elsif block.type == 'comments' %}
            <div class="comments mb-5">
                <div class="col-12">
                    <h3>{{ article.comments_count }} {% if article.comments_count > 1 %} Comments {% else %} Comment {% endif %}</h3>
                    {% paginate article.comments by 5 %}
                        {% for comment in article.comments %}
                            <div class="card my3 shadow">
                                <div class="card-header">
                                    Por: <strong>{{ comment.author }}</strong> Publicacion: <em>{{ comment.created_at | date: "%b %d, %Y" }}</em>
                                </div>
                            </div>
                        {% endfor %}
                    {% endpaginate %}
                </div>
            </div>
        {% elsif block.type == 'form' %}
            <div class="form mb-5">
                <div class="col-12">
                    <h3>Haz un comentario</h3>
                    {% form 'new_comment', article %} 
                        <div class="form-floating mb-3">
                            <input type="text" name="comment[author]" value="{{ form.author }}" class="form-control" id="floatingText" placeholder="Nombre">
                            <label for="floatingText">Nombre</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" name="comment[email]" value="{{ form.email }}" class="form-control" id="floatingInput" placeholder="nombre@ejemplo.com">
                            <label for="floatingInput">Correo electronico</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea name="comment[body]" id="floatingMessage" placeholder="Mensaje" class="form-control">{{ form.body }}</textarea>
                            <label for="floatingMessage">Mensaje</label>
                        </div>
                        <input type="submit" value="Enviar Comentario" class="btn btn-primary mt-3">
                        {% if form.errors %}
                            <div class="alert alert-danger mt-3 w-auto d-inline-block" role="alert">{{ form.errors | default_errors }}</div>
                        {% endif %}
                    {% endform %}
                </div>
            </div>
        {% elsif block.type == 'blog' %}
            <div class="blog mb-5 d-flex justify-content-center">
                <a href="{{ blog.url }}" class="btn btn-outline-danger">Regresar al blog</a>
            </div>
        {% endif %}
    {% endfor %}
</div>

<style>
    .share  {
        display: flex;
    }

    .share svg {
        width: 35px;
        height: 35px;
    }

    .tags a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 14px;
        padding: 5px 10px;
        display: block;
    }
</style>

{% schema %}
{
    "name": "Article Content",
    "class": "col-12 col-md-8 col-lg-9",
    "blocks": [
        {
            "name": "Content",
            "type": "content"
        },
        {
            "name": "Tags",
            "type": "tags"
        },
        {
            "name": "Share",
            "type": "share",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "facebook",
                    "label": "Facebook",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "twitter",
                    "label": "Twitter",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "linkedin",
                    "label": "Linkedin",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "email",
                    "label": "Email",
                    "default": true
                }
            ]
        },
        {
            "name": "Comments",
            "type": "comments"
        },
        {
            "name": "Form Comment",
            "type": "form"
        },
        {
            "name": "Blog Button",
            "type": "blog"
        }
    ]
}
{% endschema %}