<div class="container py-5 mb-5">
    <div class="row">
        <div class="col-12">
            <h5 class="text-center display-6 mb-5">{{ page.title }}</h5>
            <div>{{ page.content }}</div>
        </div>
        <div class="col-10 mx-auto">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                {% for block in section.blocks %}
                    {% if block.type == 'faq' %}
                        <div class="accordion-item">
                            <h2 class="accordion-header text-dark" id="panelsStayOpen-heading-{{ forloop.index }}">
                                <button class="accordion-button bg-muted text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-{{ forloop.index }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse-{{ forloop.index }}">
                                    {{ block.settings.question }}
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-{{ forloop.index }}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading-{{ forloop.index }}">
                                <div class="accordion-body">
                                    {{ block.settings.answer }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Frecuently Asked Q",
    "tag": "section",
    "blocks": [
        {
            "name": "FAQ",
            "type": "faq",
            "settings": [
                {
                    "type": "text",
                    "id": "question",
                    "label": "Question",
                    "default": "Question Number 1"
                },
                {
                    "type": "richtext",
                    "id": "answer",
                    "label": "Answer",
                    "default": "<p>Plugins adds the appropiate classes that we use to style each element.</p>"
                }
            ]
        }
    ]
}
{% endschema %}