<div class="container">
	<h1 class="section-title">{{ section.settings.section_heading }}</h1>
	<div class="glider-contain">
		{% if section.settings.show_arrows == true and section.blocks.size > section.settings.items_to_show %}
			<div class="arrows">
				<button aria-label="Previous" class="glider-prev">«</button>
				<button aria-label="Next" class="glider-next">»</button>
			</div><!-- /.arrows -->
		{% endif %}
		<div class="testimonial-glider_new" data-items="{{ section.settings.items_to_show }}">
			{% for block in section.blocks %}
				{% case block.type %}
					{% when 'testimonial' %}
						<div class="testimonial card justify-content-start">
							<div class="image-testimonial bg-danger">
								{% if block.settings.image_testimonial != blank %}
									{{ block.settings.image_testimonial | img_url: 'master' | img_tag }}
								{% else %}
									{{ "image" | placeholder_svg_tag }}	
								{% endif %}
							</div><!-- /.image -->
							<div class="content p-3">
								<div class="author text-center mb-3">
									<h3>{{ block.settings.author_testimonial }}</h3>
								</div><!-- /.author -->
								<div class="description text-center">
									{{ block.settings.description_testimonial }}
								</div><!-- /.description -->
							</div><!-- /.content -->
						</div><!-- /.testimonial -->
				{% endcase %}
			{% endfor %}
		</div><!-- /.testimonial-glider_new -->
		{% if section.settings.show_indicators == true and section.blocks.size > section.settings.items_to_show %}
			<div role="tablist" class="dots"></div>
		{% endif %}
	</div><!-- /.glider-contain -->
</div><!-- /.page-width -->

{% style %}

	.box-testimonials {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.section-title {
		margin-bottom: 50px;
	}

	.glider-contain {
		min-width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
	}

	.testimonial-glider_new .testimonial {
		margin-left: 15px;margin-right: 15px;
	}

	.testimonial-glider_new .testimonial .image-testimonial {
		display: block;
		position: relative;
		padding-bottom: 100%;
		background-color: transparent;
		overflow: hidden;
	}
	  
	.testimonial-glider_new .testimonial .image-testimonial img, .testimonial-glider_new .testimonial .image-testimonial svg {
		display: block;
		max-width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
	}

	.testimonial-glider_new .testimonial .image-testimonial svg path {
		fill: #FFFFFF;
	}
	  
	.testimonial-glider_new .testimonial .content {
		text-align: center;
		padding-top: 15px;
	}

	.testimonial-glider_new .testimonial .rate svg path {
		fill: #fbc100;
	}

	.glider-contain .arrows {
		text-align: right;
		padding-right: 15px;
	}

	.glider-prev,.glider-next {
		position: static;
	}

	.dots {
		margin-top: 20px;
	}
{% endstyle %}


{% javascript %}
	setInterval( () => {
    	new Glider(document.querySelector('.testimonial-glider_new'), {
      		slidesToShow: document.querySelector('.testimonial-glider_new').dataset.items,
      		dots: '.dots',
      		arrows: {
        		prev: '.glider-prev',
        		next: '.glider-next'
      		}
    	});
  	}, 50)
{% endjavascript %}

{% schema %}
{
	"name": "New Products",
	"tag": "section",
	"class": "box-testimonials",
	"settings": [
		{
			"type": "text",
			"id": "section_heading",
			"label": "Section Heading",
			"default": "Nuevos Productos"
		},
		{
			"type": "checkbox",
			"id": "show_arrows",
			"label": "Show Arrows?",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_indicators",
			"label": "Show Indicators?",
			"default": false
		},
		{
			"type": "range",
			"id": "items_to_show",
			"label": "Slides to show?",
			"min": 1,
			"max": 6,
			"step": 1,
			"default": 4
		}
	],
	"blocks": [
		{
			"name": "Product",
			"type": "testimonial",
			"settings": [
				{
					"type": "image_picker",
					"id": "image_testimonial",
					"label": "Image"
				},
				{
					"type": "range",
					"id": "rate_testimonial",
					"label": "Rate",
					"min": 1,
					"max": 5,
					"step": 1,
					"default": 2
				},
				{
					"type": "text",
					"id": "author_testimonial",
					"label": "Author",
					"default": "John Doe"
				},
				{
					"type": "richtext",
					"id": "description_testimonial",
					"label": "Testimonial",
					"default": "<p>Este es un gran sitio para comprar ya que tiene precios bajos y ropa de buena calidad.</p>"
				}
			]
		}
	]
}
{% endschema %}