<nav class="navbar navbar-expand-lg bg-danger">
	<div class="container d-flex py-3">
		<a class="navbar-brand text-white text-uppercase" href="/">Boutique Fashion</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="main_nav">
			<ul class="navbar-nav">
				{% for link in linklists.main-menu.links %}
					{% if link.links.size > 0 %}
						<li class="nav-item ms-4 dropdown" id="myDropdown">
							<a class="nav-link text-white d-flex align-items-center dropdown-toggle" href="{{ link.url }}" data-bs-toggle="dropdown">{{ link.title }}</a>
							<ul class="dropdown-menu mt-4 py-0">
								{% for child_link  in link.links %}									
									{% if child_link.links.size > 0 %}
										<li> <a class="dropdown-item py-2 d-flex justify-content-between align-items-center dropdown-toggle" href="{{ child_link.url }}">{{ child_link.title }}</a>
											<ul class="submenu dropdown-menu mt-4 py-0">
												{% for grandchild_link  in child_link.links %}
													<li><a class="dropdown-item py-2" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
												{% endfor %}
											</ul>
										</li>	
									{% else %}
										<li> <a class="dropdown-item" href="{{ child_link.url }}">{{ child_link.title }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</li>
					{% else %}
						<li class="nav-item ms-4"><a class="nav-link text-white" href="{{ link.url }}">{{ link.title }} </a> </li>
					{% endif %}
				{% endfor %}
			</ul>
		</div> 
		<div class="icons me-4">
			{% if shop.customer_accounts_enabled %}
			{% if customer %}
			<a href="{{ routes.account_url }}" class="text-white text-decoration-none">Cuenta</a>
			{% else %}
			<a href="{{ routes.account_login_url }}" class="text-white text-decoration-none">Ingresar</a>
			<span class="text-white ms-2 me-2">|</span>
			<a href="{{ routes.account_register_url }}" class="text-white text-decoration-none">Registrarse</a>
			{% endif %}
			{% endif %}
		</div>
		<form action="{{ routes.search_url }}" class="d-flex ms-auto">
			<input type="search" class="form-control me-2" name="q" value="{{ search.terms | escape }}" placeholder="Buscar" aria-label="Search">
			<button type="submit" class="btn btn-outline-light text-white">Buscar</button>
		</form>
	</div>
</nav>

{% javascript %}
document.addEventListener("DOMContentLoaded", function(){
	if (window.innerWidth < 992) {
	
	  document.querySelectorAll('.navbar .dropdown').forEach(function(everydropdown){
		everydropdown.addEventListener('hidden.bs.dropdown', function () {
			this.querySelectorAll('.submenu').forEach(function(everysubmenu){
			  everysubmenu.style.display = 'none';
			});
		})
	});
	
	  document.querySelectorAll('.dropdown-menu a').forEach(function(element){
		element.addEventListener('click', function (e) {
			let nextEl = this.nextElementSibling;
			if(nextEl && nextEl.classList.contains('submenu')) {	
			  e.preventDefault();
			  if(nextEl.style.display == 'block'){
				nextEl.style.display = 'none';
			  } else {
				nextEl.style.display = 'block';
			  }
	
			}
		});
	  })
	}
}); 
{% endjavascript %}

{% style %}
@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	

@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}	
{% endstyle %}