{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
	<head>
		<script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="{{ settings.color_background }}">
		<link rel="canonical" href="{{ canonical_url }}">
		<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

		{%- if settings.favicon != blank -%}
			<link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
		{%- endif -%}

		{%- unless settings.type_header_font.system? -%}
			<link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
		{%- endunless -%}

		{%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros | strip_html -%}

		<title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value, shop: shop.name }}</title>

		<meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

		{{ content_for_header }}

		{%- liquid
			assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
			assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
			assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
		%}

		{%- unless settings.type_body_font.system? -%}
			<link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
		{%- endunless -%}
		{%- unless settings.type_header_font.system? -%}
			<link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
		{%- endunless -%}

		{{ 'template-giftcard.css' | asset_url | stylesheet_tag }}

		{{ "bootstrap.min.css" | asset_url | stylesheet_tag }}
		{{ 'vendor/qrcode.js' | shopify_asset_url | script_tag }}
	</head>

	<body class="gradient" style="max-width: 100%;">
		<header class="text-center">
			<div class="container py-5">
				<h1 class="text-danger display-3">Boutique Fashion</h1>
			</div>
		</header>

		<main class="mb-5 mb-5 d-flex justify-content-center flex-column text-center">
			<h1 class="mb-5">Tarjeta de regalo.</h1>
			<h3>{{ gift_card.balance | money_with_currency }}</h3>
			<img src="{{ 'gift-card.png' | asset_url }}" alt="" style="max-width: 500px; width: 100%; margin: 0 auto;">
			<br>
			<h4>Hola, {{ gift_card.customer.first_name }}</h4>
			
			{% if gift_card.enabled %}
				<p class="mt-3">Esta tarjeta esta actualmente activa.</p>
			{% else %}
				<p class="mt-3">Esta tarjeta actualmente esta desactivada.</p>
			{% endif %}
			
			{% if gift_card.expired %}
				<h5>Esta tarjeta ha expirado.</h5>
			{% else %}
				<h5>Esta tarjeta de regalo expira en: {{ gift_card.expires_on | data: "%b %d %Y" }}</h5>
			{% endif %}

			<div id="qr-code" class="d-flex justify-content-center mt-4 mb-5"></div>
			<script>
				new QRCode(document.getElementById('qr-code'), {
					text: '{{ gift_card.qr_identifier }}',
					width: 250,
					height: 250
				})
			</script>

			{% if gift_card.pass_url %}
				<a href="{{ gift_card.pass_url }}">
					<imgv src="{{ 'gift-card/add-to-apple-wallert.svg' | shopify_asset_url }}" width="120" height="40" alt="Add To Apple Wallet" >
				</a>
			{% endif %}
		</main>

		<footer></footer>
		{{ 'masonry.pkgd.min.js' | asset_url | script_tag }}
		{{ 'masonry.pkgd.js'| asset_url | script_tag }}
		{{ 'bootstrap.min.js' | asset_url | script_tag }}
		{{ 'lightbox-plus-jquery.js' | asset_url | script_tag }}
		{{ 'glider.min.js' | asset_url | script_tag }}
	</body>
</html>